.DateEmail {
    right: 15px;
    color: #b5b5b5;
    font-size: 12px;
    font-weight: normal;
}

.EmailContainer {
    padding: 15px;
    height: 80px;
    vertical-align: middle;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0px;
}

.InfoWraper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f7;
    border-bottom: 1px solid gray;
}

.InfoWraper:hover {
    background-color: #e9e9e9;
}

.InfoWraper:active {
    background-color: rgb(217, 219, 219);
}

.ItemSelect {
    border-left: 4px solid #4990E2;
    background-color: rgb(255, 255, 255);
}

.ListContent {
    overflow: scroll;
    height: 100vh;
    max-height: 90vh;
    background-color: white;
}

.Sender {
    display: block;
    text-align: start;
    color: #333333;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}

.short-description {
    color: #9b9b9b;
    font-size: 12px;
    text-decoration: none;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.Subject {
    display: block;
    text-align: start;
    color: #333333;
    font-size: 12px;
}

.WraperDate {
    display: flex;
}