.Actions {
    color: #000;
    /* width: 30%; */
    text-align: end;
    vertical-align: middle;
    display: table-cell;
    -ms-flex-pack: end;
}

.ContentEmail {
    background-color: rgb(255, 255, 255);
    height: auto;
    /* width: 100%; */
    border: 2px solid #B5B5B5;
    border-radius: 10px;
    margin-top: 20px;
}

.email-date {
    color: #9B9B9B;
    font-size: 12px;
    font-weight: normal;
}

.email-image {
    width: 250px;
    height: 250px;
}

.FromEmail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.headerDetail {
    display: flex;
    text-align: end;
    align-items: center;
    justify-content: space-between;
}

.InfoEmail {
    padding: 50px;
    padding-top: 40px;
}

.inner {
    display: inline-block;
}

.MailDetail {
    background-color: #f6f6f7;
    display: block;
    flex: 1;
    height: 100vh;
    margin-left: 320px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    box-sizing: border-box;
}

.subjectLabel {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    flex-grow: 1;
    /* margin-top: 20px; */
    /* width: 70%; */
}