.email-image {
    max-height: 100px;
    max-width: 100px;
}

.HeaderList {
    height: 50px;
    background-color: white;
    border-bottom: 1px solid gray;
}

.inner {
    display: inline-block;
}

.labelFilter {
    display: inline;
    font-size: 12px;
    line-height: 50px;
    margin: 10px;
    position: relative;
    cursor: pointer;
}

.labelFilterActive {
    display: inline;
    font-size: 12px;
    line-height: 50px;
    margin: 10px;
    position: relative;
    cursor: pointer;
    color: #4990e2;
}

.MailList {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #f6f6f7;
    width: 320px;
    border-right: 1px solid #b5b5b5;
}

.wrapperActions {
    background-color: white;
    color: #000;
    width: 320px;
    height: 50px;
    text-align: end;
    vertical-align: middle;
    display: table-cell;
}

.wrapperImages {
    display: flex;
}